.content-wrapper {
  width: 1200px;
  margin: 0 auto;
}

.filterBox {
  display: flex;
  gap: 5px;
}

.btn {
  background-color: #FFFFFF;
  cursor: pointer;
  border: 1px solid black;
  padding: 3px 10px;
}

.selected {
  background-color: black;
  color: #FFFFFF;
}

.projectList-container {
  margin-top: 15px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.project-image {
  width: 32%;
  height: 300px;
}